<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="index.js"></script>
    </head>
    <body>
        <div id="app" >
            <div id="name_box">
                <input id="person" type="text" v-model="name" v-bind:placeholder="message"/>
                <input id="copy" type="text" v-bind:value='name'  readonly />
                <h1>
                    '<span v-html="name"></span>'
                </h1>
            </div>
            
            <div id="fruits_box">
                <label for="fruit1"><input type="checkbox" id="fruit1" name="fruit1" v-model="fruits" value="apple" />사과</label>
                <label for="fruit2"><input type="checkbox" id="fruit2" name="fruit2" v-model="fruits" value="strawberry" />딸기</label>
                <label for="fruit3"><input type="checkbox" id="fruit3" name="fruit3" v-model="fruits" value="grape" />포도</label>
                <label for="fruit4"><input type="checkbox" id="fruit4" name="fruit4" v-model="fruits" value="pear" />배</label>
                <label for="fruit5"><input type="checkbox" id="fruit5" name="fruit5" v-model="fruits" value="melon" />참외</label>

                <h1 v-html='fruits'></h1>
            </div>

            <div id="if_show_box">
                <input type="number" min="10" max="30" step="5" v-model="age" style="display:block;" />
                <img src="https://via.placeholder.com/150" alt="150" v-show="age > 28" style="display:block; margin-top:10px;" /> <!--age가 28보다 크면 나타남-->
            
                <input type="text" v-model="region" placeholder="지역" />
                <h1 v-if="region === '안양'">안양</h1>
                
            </div>
        </div><!-- app -->

    </body>

    <script>
        var app = new Vue({
            el:'#app',
            data : {
                name : "",
                age : '',
                gender : '',
                region : '',
                message : "here!",
                fruits : []
            }
        });
    </script>
</html>